Source: ros-noetic-emotion-analyzer
Section: misc
Priority: optional
Maintainer: Kei Okada <k-okada@jsk.imi.i.u-tokyo.ac.jp>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-catkin, ros-noetic-catkin-virtualenv, ros-noetic-message-generation, ros-noetic-std-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-noetic-emotion-analyzer
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python3-pydub, python3-soundfile, ros-noetic-audio-capture, ros-noetic-message-runtime, ros-noetic-rospy, ros-noetic-std-msgs
Description: The emotion_analyzer package
